{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">JAKVISION 2</h1>
      <p class="lead">An engine to understand your images :) <br> </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="mb-2 col-md-6 offset-md-3">
    <form action="/infer" method="POST" enctype="multipart/form-data">
      <div class="input-group">
        <div class="custom-file">
          <input type="file" name="file" accept=".jpg, .jpeg, .png" class="custom-file-input" id="inputGroupFile"
            aria-describedby="inputGroupFileAddon04">
          <label class="custom-file-label" for="inputGroupFile">Choose file</label>
        </div>
        <div class="input-group-append">
          <input type="submit" value="Upload"  class="btn btn-outline-secondary" type="button"
            id="inputGroupFileAddon04" /> 
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3 my-5">
      <center>
        <p class="text-muted">
          Hai, Jakvision v2 sekarang sudah lebih cepat dari v1. Sekarang saya bisa mendeteksi 16 gambar yaitu Arus Lalu Lintas, Banjir, Coretan, Iklan Rokok, Jalan, Jaringan Air Bersih, 
          Jaringan Komunikasi, Parkir Liar, Pohon, Saluran Air Kali Sungai, Sampah, Taman, 
          Tata Ruang dan Bangunan, Trotoar, Tutup Saluran, UMKM. 
        </p>
      </center>
    </div>
  </div>
</div>
{% endblock %}
